

button {
  transition: background-color 0.25s;
}
button:hover {
  background-color: #838383;
  cursor: pointer;
  transform: scale(0.9);
}
button:active {
  transform: scale(1);
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid black 2px;
  background-color: whitesmoke;
  padding: 40px;
  min-height: 100vh;
}




@media only screen and (max-width: 1231px){
  .App{
    padding: 30px;
  }
}
@media only screen and (max-width: 360px){
  .App{
    padding: 0;
  }
}




