
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bungee&family=Carter+One&family=Fugaz+One&family=Hanalei+Fill&family=Lilita+One&family=Luckiest+Guy&family=Roboto&family=Roboto+Condensed&family=Rubik+Spray+Paint&family=Rubik+Vinyl&family=Sriracha&display=swap');


.Directory{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
}
.Directory h2,p{
    margin: 0;
}
.Directory h2{
    font-size: 40px;
    font-family: 'Bungee', 'sans-serif';
    text-transform: uppercase;
    letter-spacing: 2px;

    border: solid black 2px;
}
.Directory p{
    font-size: 17.5px;
    font-family: 'Roboto Condensed', 'sans-serif';

    border: solid black 2px;
}

.Directory button {
    background-color: rgb(21, 21, 21);
    color: white ;
    padding: 15px;
    border-radius: 7.5px;
    border: solid rgb(0, 0, 0) 2px;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Carter One',  'sans-serif';
    letter-spacing: 2px;
}

.Directory div{
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    row-gap: 20px;
    background-color: cadetblue;
    height: 300px;
    width: 300px;
    border: solid black 2px;
    border-radius: 2.25px;
}

.Directory div:hover {
    transform: scale(1.1);
}


@media only screen and (max-width: 848px){
    .Directory div{
        height: 250px;
        width: 250px;
  }
}
@media only screen and (max-width: 727px){
    .Directory h2{
        font-size: 30px;
    }
    .Directory button {
        padding: 10px;
        font-size: 12.5px;
    }
}
@media only screen and (max-width: 657px){
    .Directory div{
        height: 300px;
        width: 300px;
    }
    .Directory h2{
        font-size: 40px;
    }
    .Directory button {
        padding: 15px;
        font-size: 15px;
    }
}
@media only screen and (max-width: 450px){
   
    .Directory h2{
        font-size: 30px;
    }
    .Directory button {
        padding: 12.5px;
        font-size: 10px;
    }
}
@media only screen and (max-width: 292px){
    
    .Directory h2{
        font-size: 23px;
    }
    .Directory button {
        padding: 12.5px;
        font-size: 10px;
    }
}


